@keyframes rota {
    25% {
        transform: rotate(360deg);
    }
}

#close-popup:hover {
    animation: rota 4s infinite normal;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

#close-popup:hover i {
    opacity: 1;
}

.upload-form label.control-label {
    display: block;
}

.pagination li {
    margin-right: 0.5em;
}

.pagination li.active {
    font-weight: 800;
}

#modal {
    display: none;
    position: fixed;
    max-width: 800px;
    height: auto;
    z-index: 9999;
    background: transparent;
    border: 1px solid azure;
}

#modal img {
    width: 100%;
}

#overlay {
    display: none;
    background: #8f8181;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.97;
    z-index: 9999;
}

#close-popup {
    width: 1em;
    height: 1em;
    cursor: pointer;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

#close-popup i {
    width: 1em;
    height: 1em;
    background: url(/static/cross.png) no-repeat center center transparent;
    background-size: 0.55em 0.55em;
    display: block;
    opacity: 0.6;
}

@keyframes rota {
    25% {
        transform: rotate(360deg);
    }
}